/* App wide resets can go here */
* {
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, "Lucida Grande", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

body {
  margin: 0px;
  background-color: #9EE4AE;
}

/* Things used across multiple children of App can go here */
.box {
  border-radius: 5px;
  overflow: hidden;
  margin: 0px 0px 8px 0px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #EDF5E1;
}

.box-header {
  background-color: #389683;
  color: #04386C;
  margin: 0px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-header h2 {
  margin: 0;
}

.box-content {
  padding: 0px 10px 0px 10px;
}

.actions i {
  cursor: pointer;
}